body
{
    margin: 0;
    
}
#contain
{
   /* margin:0 auto;
    height: 50%;
    width: 50%;
    background-color:blanchedalmond;
    padding-bottom: 50%;*/
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -250px;
    background-color: aqua;
    
}
.completed
{
    color: gray;
    text-decoration: line-through;
}
.delete
{
    height:fit-content;
    width: fit-content;
    
    background-color: rgb(179, 67, 67);
}
